/* default stylings for whole html document */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

/* Hero section/ Top section */
.hero_section
{
    background: url('./images/heroSectionBackground.png');
    background-size: cover;
    min-height: 60vh;
}

/* navbar content */
.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

/* navbar anchors */
.navbar a
{
    color: white;
    text-decoration: none;
}

/* Parent container for flex display */
.navbar_menu_container         
{
    display: flex;
    gap: 30px;
}

.navbar_menu_container .user_icon
{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
}

/* For mobile screen width */
@media only screen and (max-width: 718px)
{
    .navbar_menu_container .user_icon
    {
        display: flex;
    }
    .link
    {
        display: none;
    }

    .hero_section
    {
        min-height: 80vh;
    }
}

